@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #f4e259;
  --main-color-transparent: rgba(244, 226, 89, 0.3);
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #222;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  color: white;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5px;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 5px;
}

h4 {
  padding: 8px 16px;
  font-size: 2rem;
}

h5 {
  font-size: 2.4rem;
  font-weight: 600;
  color: lightgreen;
}

h6 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--main-color);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: var(--main-color);
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero Section */
#hero {
  background-image: url(./Img/hero.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  color: transparent;
  position: relative;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

#hero h1:nth-child(1) {
  animation-delay: 1s;
}

#hero h1:nth-child(2) {
  animation-delay: 2s;
}

#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--main-color);
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

#hero .cta {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  /* color: var(--main-color); */
  color: white;
  background-color: transparent;
  border: 2px solid var(--main-color);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 36px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

#hero .cta:hover {
  color: white;
  background-color: var(--main-color);
}
/* End of Hero Section */

/* Service Section */
#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .service-top p {
  padding: 0 10px;
}

#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#services .service-item {
  flex-basis: 80%;
  min-width: 320px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./Img/claim-card.jpeg);
  background-size: cover;
  margin: 10px 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#services .service-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(60deg, #29323c 0%, #485563, 100%); */
  background: linear-gradient(60deg, #29323c, #485563);
  opacity: 0.8;
  z-index: -1;
}

/* #services .service-bottom .icon {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
} */

#services .service-item h2 {
  font-style: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin: 0 auto;
}

#services .service-item p {
  color: white;
  text-align: center;
  margin: 0 auto;
}

#services .cta {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  /* color: var(--main-color); */
  color: white;
  background-color: var(--main-color-transparent);
  border: 2px solid var(--main-color);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0 auto;
  margin-top: 2rem;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

#services .cta:hover {
  color: white;
  background-color: var(--main-color);
}

#services .empty {
  background-color: rgba(200, 200, 200, 0.4);
  border: 2px solid rgba(200, 200, 200, 0.4);
  color: rgba(200, 200, 200, 0.8);
  font-size: 1.8rem;
}

#services .empty:hover {
  background-color: rgba(200, 200, 200, 0.4);
  border: 2px solid rgba(200, 200, 200, 0.4);
  color: rgba(200, 200, 200, 0.8);
}

#services .claim-form {
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
}

#services .claim-form input {
  font-size: 2rem;
}

#claimedTiger,
#claimedCub {
  background-color: rgb(67, 67, 67);
  color: white;
  border-radius: 4px;
  text-align: center;
  font-size: larger;
}

/* End of Service Section */

/* Footer */
#footer {
  /* background-image: linear-gradient(60deg, #222 0%, #485563 100%); */
  background-color: #292929;
}

#footer .footer {
  color: white;
  min-height: 80px;
  flex-direction: column;
}

#footer .brand h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: white;
}

#footer h2 {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icons {
  width: 100vw;
  max-width: 520px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .social-icon {
  height: 40px;
  width: 40px;
  margin: 0 20px;
}

#footer .social-icon img {
  filter: grayscale(1);
  /* transition: 0.3s ease filter; */
}

#footer .social-icon img:hover {
  filter: grayscale(0);
}

#footer p {
  font-size: 1.3rem;
}
/* End of Footer */

/* animation / keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: var(--main-color);
  }
}
/* End of animation / keyframes */

@media only screen and (min-width: 760px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  .section-title {
    font-size: 6rem;
  }

  /* Hero */
  #hero h1 {
    font-size: 7rem;
  }
  /* End of Hero */

  /* Service */
  #services .service-bottom .service-item {
    flex-basis: 45%;
    /* margin: 1.5%; */
  }
  /* End of Service */
}

/* Spinner */

.button__text {
  color: #ffffff;
}

.button--loading .button__text {
  /* visibility: hidden; */
  opacity: 0.2;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;

  border: 4px solid #fff;
  border-color: #f4e259 transparent #fff transparent;
  animation: button-loading-spinner 1.2s linear infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
